

.phone {
  height: 40px;
  width: 65px;
  border: 6px solid darkgray;
  border-radius: 10px;
  background-color: grey;
  animation: rotate 2s ease-in-out 5s 5 alternate;
  display:none;
}

.message {
  color: black;
  font-size: 1em;
  margin-top: 40px;
  display:none;
  font-size: 18px;
}

@keyframes rotate {
  0% {
		transform: rotate(0deg)
	}
	50% {
		transform: rotate(-90deg)
	}
	100% {
		transform: rotate(-90deg)
	}
}


@media screen and (min-width : 0px) and (max-width : 750px){

  .phone, .message {
    display: block;
  }
}
